<mat-card class="event-card" (click)="openEventDetails()">
    <div class="event-image-container">
      <img [src]="event.imagePath | apiImg" [alt]="event.name">
      <div class="event-category-badge">{{ event.categoryName }}</div>
    </div>
    <mat-card-content>
      <h3 class="event-title">{{ event.name }}</h3>
      <p class="event-location">
        <mat-icon>location_on</mat-icon>
        {{ event.locationName }}
      </p>
      <p class="event-price" [ngClass]="{'free': event.priceValue === 0}">
        <mat-icon>{{ event.priceValue === 0 ? 'card_giftcard' : 'attach_money' }}</mat-icon>
        {{ event.priceValue === 0 ? 'Gratis' : (event.priceValue | currency:'S/.') }}
      </p>
    </mat-card-content>
  </mat-card>