<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-content">
      <div class="navbar-logo">
        <span>CAMPUS SPHERE</span>
      </div>
      <div class="navbar-right">
        <div class="navbar-links">
          <a href="#" class="nav-link">Explorar</a>
          <a href="#" class="nav-link">Nosotros</a>
        </div>
        <div class="navbar-buttons">
          <button class="btn btn-outline" routerLink="/auth/register">Registrarse</button>
          <button class="btn btn-primary" routerLink="/auth/login">Ingresar</button>
        </div>
      </div>
      <div class="navbar-mobile-toggle">
        <button type="button" aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div class="navbar-mobile-menu" id="mobile-menu">
    <a href="#" class="mobile-nav-link">Explorar</a>
    <a href="#" class="mobile-nav-link">Nosotros</a>
    <a href="#" class="mobile-nav-link">Registrarse</a>
    <a href="#" class="mobile-nav-link">Ingresar</a>
  </div>
</nav>