<h2 mat-dialog-title>{{ data.name }}</h2>
    <mat-dialog-content>
      <img [src]="data.imagePath | apiImg" [alt]="data.name" class="modal-image">
      <p class="modal-category">{{ data.categoryName }}</p>
      <p class="modal-location">
        <mat-icon>location_on</mat-icon>
        {{ data.locationName }}
      </p>
      <p class="modal-location">
        <mat-icon>location_city</mat-icon>
        {{ data.cityName }}
      </p>
      <p class="modal-capacity">
        <mat-icon>people</mat-icon>
        {{data.capacity}}
      </p>
      <p class="modal-price" [ngClass]="{'free': data.priceValue === 0}">
        <mat-icon>{{ data.priceValue === 0 ? 'card_giftcard' : 'attach_money' }}</mat-icon>
        {{ data.priceValue === 0 ? 'Gratis' : (data.priceValue | currency:'S/.') }}
      </p>
      <p class="modal-description">{{ data.description }}</p>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cerrar</button>
    </mat-dialog-actions>